/* Use this when you are ready to make a media query style

@media screen and (max-width: 768px) {
  

}  */

* {
    padding: 0px;
    margin: 0px;
}
    
.container {
    background-color: rgb(118, 155, 118);
    height: 600px;
    display: flex;
}

.box{
background-color: rgb(0, 0, 0);
height: 600px;
width: 50%;
}

.boxinfo{
    height: 600px;
    width: 50%;
    
}
    
.box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    }

   .byline{
       color: rgb(255, 255, 255);
       margin: 20px;
      
   }

   .sectionhead {
       color: rgb(148, 11, 11);
       margin: 20px;

   }

h1 {
    color: white;
    font-size: 33px;
    margin: 20px;
    margin-top: 30px;
}
    
h2{
    color: white;
    font-size: 18px;
    font-style: italic;
    margin: 25px;

    
}

h3{
    color: white;
   
    
}

.sectionhead2 {

    size: 20px;
    margin: 15px;
    color:red

}

h4{
margin: 15px;
font-size: 33px;
padding: 0px;
}
    
h5{
margin: 15px;
font-size: 20px;
font-weight: 100;
}

.byline2{
margin: 15px;
size: 20px;}

h6{
    font-size: 15px;
    font-weight: 300;

}

.box2 {

    height: 100%;
    width: 100%;

}

.box2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin: 10px;


}

.boxinfo2{
height: 100%;
width: 100%;

}

.container2 {
    background-color: rgb(255, 255, 255);
    height: 600px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) { 
    .container {
    background-color: rgb(118, 155, 118);
    height: 600px;
    display: flex;
    flex-direction: column;
}
.boxinfo{
    height: 600px;
    width: 100%;
    
}
.box{
    background-color: rgb(0, 0, 0);
    height: 600px;
    width: 100%;
    }
} 